BOT_TOKEN=1234567890:AAF...

DB_LINK=postgresql://postgres:[YOUR-PASSWORD]@db.xxxx.supabase.co:5432/postgres

ADMIN_IDS=123456789,987654321

ADMIN_USERNAME=admin_username

SECRET_GROUP_ID=-1001234567890
